
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,400&family=Roboto&display=swap');

:root{
    background-color: rgb(14, 37, 60);
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: rgb(14, 37, 60)
  }

img{
    max-height: 600px;
}

hr{
    border: 1px dashed white;
}

h3{
    text-align: center;
}

p{
    text-align: center;
}
.navbar{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;  
}

.navbar .logo{
    font-size: 35px;
    font-weight: 600;
    padding: 0px 20px;
    color: rgb(14, 37, 60)
}

.navbar .menu li{
    display: inline;
    list-style: none;
    margin-right: 20px;
    padding: 0px 10px;
    font-size: 20px;
}

.hero{
    display: grid;
    align-items: center;
    height: 100vh;
    background: url(./images/_MG_4459.jpg) no-repeat;
    
}

.hero .hero-text{
    padding-left: 10%;
}

.hero .hero-text .text{
    font-size: 25px;
    margin: -2px 0;
}
.hero .hero-text .text1{
    font-size: 50px;
    font-weight: 600;
}
.hero .hero-text .text2{
    font-size: 25px;
    font-weight: 400;
    margin: 5px 0;

}

.links{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    background-color: #ffffff;
    color: rgb(14, 37, 60);
    border-radius: 5px;
}

